:root {
  --icon-height: 20px;
  --icon-width: 20px;
}
* {
  box-sizing: border-box;
  margin: unset;
  padding: unset;
  list-style: none;
}

.icon {
  height: var(--icon-height);
  width: var(--icon-width);
  object-fit: contain;
}

.sidebar .menu svg {
  height: 20px;
  width: 20px;
}
